In [ ]:
# m6 challenge try out

In [24]:
# create a set of 20 random latitudes 
import random
x = 1
latitudes = []
while x < 21:
    random_lat = random.randint(-90, 89) + random.random()
    latitudes.append(random_lat)
    x += 1
print(latitudes[:10])

[28.493889130135944, -20.011262486885283, 71.80391117525951, -3.9842531374810957, -20.19947025949386, -24.162704229274723, 53.39942759389007, -59.76217875702433, -53.341820458630885, 2.6945655060408367]

In [25]:
# create a set of 20 random longitudes
y = 1
longitudes = []
while y < 21:
    random_lon = random.randint(-90, 89) + random.random()
    longitudes.append(random_lon)
    y += 1
longitudes[:10]

[-37.550136357854406,
 -89.62607292481862,
 74.37339211511319,
 -4.487165020711351,
 18.625222671565083,
 -2.602075702160655,
 -30.326499095556066,
 25.94583615906816,
 63.72507518619218,
 1.6481825480955399]

In [31]:
# zip and display the lat and lng
coordinates = zip(latitudes,longitudes)

In [32]:
# retrieve the nearist cities from citypy
# imports
from citipy import citipy
import pandas as pd

In [33]:
# retrieve the nearist cities from citipy, display first 10 cities
cities = []
for coordinate in coordinates:
    cities.append(citipy.nearest_city(coordinate[0], coordinate[1]).city_name)
cities

['ribeira grande',
 'pisco',
 'pangody',
 'tabou',
 'grootfontein',
 'jamestown',
 'grindavik',
 'kruisfontein',
 'taolanaro',
 'anloga']

In [35]:
len(cities)

20

In [36]:
cities

['ribeira grande',
 'pisco',
 'pangody',
 'tabou',
 'grootfontein',
 'jamestown',
 'grindavik',
 'kruisfontein',
 'taolanaro',
 'anloga',
 'grand gaube',
 'lagoa',
 'ushuaia',
 'berbera',
 'taolanaro',
 'cidreira',
 'saint-philippe',
 'vila velha',
 'taolanaro',
 'ushuaia']

In [37]:
# api call with openweathermap
import requests
from config import weather_api_key

In [38]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Metric&APPID=" + weather_api_key

http://api.openweathermap.org/data/2.5/weather?units=Metric&APPID=e98abd2babc446681bc8eabb046faa0b&q=taolanaro

In [42]:
# initialize lists 
# country = []
# lng = []
# lat = []
# max_tem = []
# humidity = []
# cloudiness = []
# wind_speed = []
# c_description = []

In [48]:
# loop over cities to retrieve data
city_data = []

print("beginning data retrieval")
print("--------------------------------")

no_info_city = []
for city in cities:
    # create an endpoint URL for each city.
    city_url = url + "&q=" + city.replace(" ", "+")
    
    
    try:
        # parse data in json
        city_info = requests.get(city_url).json()
        
        country = city_info['sys']['country']
        lng = city_info['coord']['lon']
        lat = city_info['coord']['lat']
        max_temp = city_info['main']['temp_max']
        humidity = city_info['main']['humidity']
        cloudiness = city_info['clouds']['all']
        wind_speed = city_info['wind']['speed']
        c_description = city_info['weather'][0]['description']
        
        city_data.append({"City":city.title(),
                          "Country": country,
                          "Lat":lat,
                          "Lng": lng,
                          "Max Temp": max_temp,
                          "Humidity": humidity,
                          "Cloudiness": cloudiness,
                          "Wind Speed": wind_speed,
                          "Current Description": c_description})
        
    except:
        print(f"{city} not found. Skiping")
        pass
print("--------------------------------")
print("Retrieval complete")
print("--------------------------------")

beginning data retrieval
--------------------------------
taolanaro not found. Skiping
taolanaro not found. Skiping
taolanaro not found. Skiping
--------------------------------
Retrieval complete
--------------------------------

In [49]:
len(city_data)

17

In [50]:
# add results into a new df
result_df = pd.DataFrame(city_data)
result_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Ribeira Grande,PT,38.5167,-28.7000,21.42,90,100,10.47,overcast clouds
1,Pisco,PE,-13.7000,-76.2167,18.03,77,0,5.66,clear sky
2,Pangody,RU,65.8500,74.4859,-2.59,89,39,3.57,scattered clouds
3,Tabou,CI,4.4230,-7.3528,25.49,89,100,4.20,light rain
4,Grootfontein,NA,-19.5667,18.1167,13.76,24,0,0.00,clear sky
5,Jamestown,US,42.0970,-79.2353,20.77,80,90,3.58,overcast clouds
6,Grindavik,IS,63.8424,-22.4338,4.26,93,75,1.03,broken clouds
7,Kruisfontein,ZA,-34.0033,24.7314,11.21,77,34,3.06,scattered clouds
8,Anloga,GH,5.7947,0.8973,26.11,85,41,4.66,light rain
9,Grand Gaube,MU,-20.0064,57.6608,22.22,91,99,1.34,light rain

In [51]:
# formatting, capitalized city name, lat lng 2 deci
result_df["Lat"] = result_df["Lat"].map("{:.2f}".format)
result_df["Lng"] = result_df["Lng"].map("{:.2f}".format)
result_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Ribeira Grande,PT,38.52,-28.70,21.42,90,100,10.47,overcast clouds
1,Pisco,PE,-13.70,-76.22,18.03,77,0,5.66,clear sky
2,Pangody,RU,65.85,74.49,-2.59,89,39,3.57,scattered clouds
3,Tabou,CI,4.42,-7.35,25.49,89,100,4.20,light rain
4,Grootfontein,NA,-19.57,18.12,13.76,24,0,0.00,clear sky
5,Jamestown,US,42.10,-79.24,20.77,80,90,3.58,overcast clouds
6,Grindavik,IS,63.84,-22.43,4.26,93,75,1.03,broken clouds
7,Kruisfontein,ZA,-34.00,24.73,11.21,77,34,3.06,scattered clouds
8,Anloga,GH,5.79,0.90,26.11,85,41,4.66,light rain
9,Grand Gaube,MU,-20.01,57.66,22.22,91,99,1.34,light rain

In [ ]:
result_df["City"] = result_df["City"].str.title()
result_df.head(10)

# D 1 worked here, next export to csv